<!doctype html>
<html>
<head>
  <title>A Game</title>
  <link rel="stylesheet" type="text/css" href="static/madlibs.css">
</head>
<body>

    <h1>Let's play a game!</h1>
    <br>
    <form action='/madlib' method="GET">
        <input type="text" name="game_choice">Person
        <br>
        Color:
        <select name="game_choice2">
            <option value="blue">Blue
            <option value="green">Green
            <option value="red">Red
            <option value="purple">Purple
            <br>
        </select>
        <br>
        <br>

        <input type="text" name="game_choice3" >Noun
        <br>
        <input type="text" name="game_choice4" >Adjective
        <br>

        <input type="submit">
    </form>


</body>
</html>